#emoji-shower-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.emoji-rain-particle {
    position: fixed;
    pointer-events: none;
    user-select: none;
    will-change: transform;
}
